{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
    Контакты Моти
{% endblock %}

{% block top %}
    Приходи к Моте и его друзьям!
{% endblock %}

{% block menu %}
    <div class="top_menu">
        <a href="/"><div class="shadow top_menu_items">Главная</div></a>
        <a href="menu"><div class="shadow top_menu_items">Меню</div></a>
        <a href="contact"><div class="selected shadow top_menu_items">Контакты</div></a>
    </div>
{% endblock %}


{% block center %}
    <div class="shadow box">
        <address id="address_id">
            Адрес: ул. Кошачья, д. 1<br>
            Телефон: +7 (999) 123-45-67<br>
            Почта: info@kotokafe.ru
        </address>
    </div>
{% endblock %}

{% block bottom %}
{% endblock %}
