{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {{ head }}
{% endblock %}

<h1>Management</h1>

{% block top %}
    {{ description }}
{% endblock %}

{% block menu %}
    {% autoescape off %}
        {{ menu }}
    {% endautoescape %}
{% endblock %}

{% block center %}
    {% autoescape off %}
        {{ center }}
    {% endautoescape %}
{% endblock %}

{% block bottom %}
    {% autoescape off %}
        {{ bottom }}
    {% endautoescape %}
{% endblock %}