{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
    Меню от Моти
{% endblock %}

{% block top %}
    У нас много разных вкусняшек для вас и ваших питомцев
{% endblock %}

{% block menu %}
    <div class="top_menu">
        <a href="/"><div class="shadow top_menu_items">Главная</div></a>
        <a href="menu"><div class="selected shadow top_menu_items">Меню</div></a>
        <a href="contact"><div class="shadow top_menu_items">Контакты</div></a>
    </div>
{% endblock %}


{% block center %}
    <div class="shadow box">
        <h2>Выпечка:</h2>
        <ul>
            <li>Круассаны — 150₽</li>
            <li>Пирожные — 180₽</li>
            <li>Меренги — 120₽</li>
        </ul>
    </div>
    <div class="shadow box">
        <h2>Напитки:</h2>
        <ul>
            <li>Капучино — 250₽</li>
            <li>Латте — 280₽</li>
            <li>Горячий шоколад — 200₽</li>
        </ul>
    </div>
    <div class="shadow box">
        <h2>Выпечка:</h2>
        <ul>
            <li>Круассаны — 150₽</li>
            <li>Пирожные — 180₽</li>
            <li>Меренги — 120₽</li>
        </ul>
    </div>
{% endblock %}

{% block bottom %}
{% endblock %}